# Mobile App for Lottery Addiction

Goal: Create a mobile app for lottery addition that shows the low probabilty of winning.

In order to deliver the probability, we'll first create functions for finding Factorial and Combinations.

In [2]:
# Factorial function will find the factorial for a numbers (n).

def factorial(n):
    result = 1
    for i in range(n, 0, -1):
        result *= i
    return result

# Combinations function for finding the combination for 'n' possiblities in 'k' combinations 

def combinations(n,k):
    numerator = factorial(n)
    denominator = factorial(k) * factorial(n-k)
    return numerator / denominator

In [21]:
def one_ticket_probability(numbers):
    probability = 1 / combinations(49,6)
    odds = int(combinations(49,6))
    return print('The probability of winning is {:.7f}%. You have a one in {:,} chance of winning.'.format(probability * 100, odds))

In [22]:
# Testing the function
one_ticket_probability([1,2,3,4,5,6])

The probability of winning is 0.0000072%. You have a one in 13,983,816 chance of winning.

In [23]:
# Import Pandas and read the historical lottery data.

import pandas as pd

lottery_data = pd.read_csv('649.csv')
lottery_data.shape

(3665, 11)

In [24]:
lottery_data.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [25]:
lottery_data.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [27]:
# Writing a funciton to extract the winning lottery numbers.

def extract_numbers(data):
    data = data[4:10]
    data = set(data.values)
    return data

win_numbers = lottery_data.apply(extract_numbers, axis=1)
win_numbers.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [28]:
# Check the numbers against all historical winning numbers

def check_historical_occurence(numbers, win_numbers):
    set_numbers = set(numbers)
    occurances = set_numbers == win_numbers
    n_occurances = occurances.sum()
    
    if n_occurances == 0:
        print('The numbers {} have never won. This does not make them more likely to happen now. he probability of winning is 0.0000072%. You have a one in 13,983,816 chance of winning.'.format(numbers))
    else:
        print('The numbers {} have won {} times. This does not make them more likely to happen now. he probability of winning is 0.0000072%. You have a one in 13,983,816 chance of winning.'.format(numbers, n_occurances))

In [29]:
check_historical_occurence([1,17,23,34,45,46], win_numbers)

The numbers [1, 17, 23, 34, 45, 46] have never won. This does not make them more likely to happen now. he probability of winning is 0.0000072%. You have a one in 13,983,816 chance of winning.

In [30]:
check_historical_occurence([33, 36, 37, 39, 8, 41], win_numbers)

The numbers [33, 36, 37, 39, 8, 41] have won 1 times. This does not make them more likely to happen now. he probability of winning is 0.0000072%. You have a one in 13,983,816 chance of winning.

In [39]:
def multi_ticket_probability(tickets):
    probability = tickets / combinations(49,6)
    odds = int(combinations(49,6) / tickets)
    return print('The probability of winning with {} tickets is {:.7f}%. You have a 1 in {:,} chance of winning.'.format(tickets, probability * 100, odds))

In [40]:
test_inputs = [1, 10, 100, 10000, 1000000, 6991908, 13983816]

for x in test_inputs:
    multi_ticket_probability(x)
    print ('--------------------') #Creates a delimiter per output

The probability of winning with 1 tickets is 0.0000072%. You have a 1 in 13,983,816 chance of winning.
--------------------
The probability of winning with 10 tickets is 0.0000715%. You have a 1 in 1,398,381 chance of winning.
--------------------
The probability of winning with 100 tickets is 0.0007151%. You have a 1 in 139,838 chance of winning.
--------------------
The probability of winning with 10000 tickets is 0.0715112%. You have a 1 in 1,398 chance of winning.
--------------------
The probability of winning with 1000000 tickets is 7.1511238%. You have a 1 in 13 chance of winning.
--------------------
The probability of winning with 6991908 tickets is 50.0000000%. You have a 1 in 2 chance of winning.
--------------------
The probability of winning with 13983816 tickets is 100.0000000%. You have a 1 in 1 chance of winning.
--------------------

In [41]:
# Create a function for finding the probabilty of having x number of winning numbers out of the total 6.
def probability_less_6(num):
    win_combos = combinations(6,num)
    remaining_combos = combinations(43, 6 - num)
    success_outcomes = win_combos * remaining_combos
    
    total_combos = combinations(49,6)
    probability = success_outcomes / total_combos
    
    odds = round(total_combos / success_outcomes)
    
    print('''Your chances of having {} winning numers with this ticket are {:.6f}%. You have a 1 in {:,} chances to win.'''.format(num, probability * 100, int(odds)))

In [42]:
for x in [2,3,4,5]:
    probability_less_6(x)
    print('-----------------')

Your chances of having 2 winning numers with this ticket are 13.237803%. You have a 1 in 8 chances to win.
-----------------
Your chances of having 3 winning numers with this ticket are 1.765040%. You have a 1 in 57 chances to win.
-----------------
Your chances of having 4 winning numers with this ticket are 0.096862%. You have a 1 in 1,032 chances to win.
-----------------
Your chances of having 5 winning numers with this ticket are 0.001845%. You have a 1 in 54,201 chances to win.
-----------------